<div class="box-user">
  <h2 class="title">Quản lí người dùng</h2>
  <div class="box-user-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width: 30px">Stt</th>
          <th scope="col" style="width: 200px">Tên</th>
          <th scope="col" style="width: 200px">Tên đăng nhập</th>
          <th scope="col">Email</th>
          <th scope="col" style="width: 80px">Ảnh</th>
          <th scope="col" style="width: 80px">Quyền</th>
          <th scope="col" style="width: 150px">Ngày tạo</th>
          <th scope="col" style="width: 150px">Ngày login cuối</th>
          <th scope="col" style="width: 60px"></th>
          <th scope="col" style="width: 60px">Ban</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <img src="./images/avatar.png" alt="" id="user-avatar" />
          </td>
          <td>
            <select name="" id="" class="form-select">
              <option value="" hidden>...</option>
              <option value="0">Người dùng</option>
              <option value="1">Nhân viên</option>
              <option value="2">Admin</option>
            </select>
          </td>
          <td>23-11-2023</td>
          <td>23-11-2023</td>
          <td>
            <button class="btn btn-outline-success btn-sm">Lưu</button>
          </td>
          <td>
            <button class="btn btn-outline-danger btn-sm">Ban</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <img src="./images/avatar.png" alt="" id="user-avatar" />
          </td>
          <td>
            <select name="" id="" class="form-select">
              <option value="" hidden>...</option>
              <option value="0">Người dùng</option>
              <option value="1">Nhân viên</option>
              <option value="2">Admin</option>
            </select>
          </td>
          <td>23-11-2023</td>
          <td>23-11-2023</td>
          <td>
            <button class="btn btn-outline-success btn-sm">Lưu</button>
          </td>
          <td>
            <button class="btn btn-outline-danger btn-sm">Ban</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <img src="./images/avatar.png" alt="" id="user-avatar" />
          </td>
          <td>
            <select name="" id="" class="form-select">
              <option value="" hidden>...</option>
              <option value="0">Người dùng</option>
              <option value="1">Nhân viên</option>
              <option value="2">Admin</option>
            </select>
          </td>
          <td>23-11-2023</td>
          <td>23-11-2023</td>
          <td>
            <button class="btn btn-outline-success btn-sm">Lưu</button>
          </td>
          <td>
            <button class="btn btn-outline-danger btn-sm">Ban</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <img src="./images/avatar.png" alt="" id="user-avatar" />
          </td>
          <td>
            <select name="" id="" class="form-select">
              <option value="" hidden>...</option>
              <option value="0">Người dùng</option>
              <option value="1">Nhân viên</option>
              <option value="2">Admin</option>
            </select>
          </td>
          <td>23-11-2023</td>
          <td>23-11-2023</td>
          <td>
            <button class="btn btn-outline-success btn-sm">Lưu</button>
          </td>
          <td>
            <button class="btn btn-outline-danger btn-sm">Ban</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <img src="./images/avatar.png" alt="" id="user-avatar" />
          </td>
          <td>
            <select name="" id="" class="form-select">
              <option value="" hidden>...</option>
              <option value="0">Người dùng</option>
              <option value="1">Nhân viên</option>
              <option value="2">Admin</option>
            </select>
          </td>
          <td>23-11-2023</td>
          <td>23-11-2023</td>
          <td>
            <button class="btn btn-outline-success btn-sm">Lưu</button>
          </td>
          <td>
            <button class="btn btn-outline-danger btn-sm">Ban</button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>
            <img src="./images/avatar.png" alt="" id="user-avatar" />
          </td>
          <td>
            <select name="" id="" class="form-select">
              <option value="" hidden>...</option>
              <option value="0">Người dùng</option>
              <option value="1">Nhân viên</option>
              <option value="2">Admin</option>
            </select>
          </td>
          <td>23-11-2023</td>
          <td>23-11-2023</td>
          <td>
            <button class="btn btn-outline-success btn-sm">Lưu</button>
          </td>
          <td>
            <button class="btn btn-outline-danger btn-sm">Ban</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
