<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <select name="" id="city"></select>

    <select name="" id="district"></select>

    <select name="" id="wards"></select>

    <script>
      const city = document.querySelector("#city");
      const district = document.querySelector("#district");
      const wards = document.querySelector("#wards");

      let dataCity = null;
      let dataDistricts = null;
      let dataWards = null;

      fetch("https://provinces.open-api.vn/api/")
        .then((res) => res.json())
        .then((res) => {
          dataCity = res;
          const manyCity = res.map(
            (item) =>
              `<option value='${item.code}' data-id='${item.code}'>${item.name}</option>`
          );
          city.innerHTML = manyCity.join("");
        });

      city.addEventListener("change", (e) => {
        fetch(`https://provinces.open-api.vn/api/p/${e.target.value}?depth=2`)
          .then((res) => res.json())
          .then((res) => {
            dataDistricts = res.districts.splice(1, res.districts.length - 1);

            const manyCity = dataDistricts.map(
              (item) =>
                `<option value='${item.code}' data-id='${item.code}'>${item.name}</option>`
            );

            district.innerHTML = manyCity.join("");
          });
      });

      district.addEventListener("change", (e) => {
        fetch(`https://provinces.open-api.vn/api/d/${e.target.value}?depth=2`)
          .then((res) => res.json())
          .then((res) => {
            dataWards = res.wards;
            const manyCity = dataWards.map(
              (item) =>
                `<option value='${item.code}' data-id='${item.code}'>${item.name}</option>`
            );

            wards.innerHTML = manyCity.join("");
          });
      });
    </script>
  </body>
</html>
