<div class="box-message">
  <h2 class="title">Tin nhắn</h2>
  <div class="box-message-body">
    <div class="box-message-sidebar">
      <div class="box-message-sidebar-header">
        <p>Danh sách người nhắn tin</p>
      </div>
      <div class="box-message-sidebar-list">
        <div class="box-message-sidebar-list-item">
          <img src="./images/avatar.png" alt="" />
          <div class="box-message-sidebar-list-item-text">
            <b>Đỗ Hữu Trung</b>
            <p class="text-truncate">Sản phẩm này làm tn vậy bạn</p>
          </div>
        </div>
        <div class="box-message-sidebar-list-item">
          <img src="./images/avatar.png" alt="" />
          <div class="box-message-sidebar-list-item-text">
            <b>Đỗ Hữu Trung</b>
            <p class="text-truncate">Sản phẩm này làm tn vậy bạn</p>
          </div>
        </div>
        <div class="box-message-sidebar-list-item">
          <img src="./images/avatar.png" alt="" />
          <div class="box-message-sidebar-list-item-text">
            <b>Đỗ Hữu Trung</b>
            <p class="text-truncate">Sản phẩm này làm tn vậy bạn</p>
          </div>
        </div>
        <div class="box-message-sidebar-list-item">
          <img src="./images/avatar.png" alt="" />
          <div class="box-message-sidebar-list-item-text">
            <b>Đỗ Hữu Trung</b>
            <p class="text-truncate">Sản phẩm này làm tn vậy bạn</p>
          </div>
        </div>
      </div>
    </div>
    <div class="box-message-chat">
      <div class="box-message-chat-header">
        <div class="box-message-chat-header-avatar">
          <img src="./images/avatar.png" alt="" />
        </div>
        <div class="box-message-chat-header-text">Đỗ Hữu Trung</div>
      </div>
      <div class="box-message-chat-content">
        <div class="chat-text sender">Đỗ Hữu Trung</div>
        <div class="chat-text">
          Đỗ Hữu Trung hihi trung nè trunghbsjkvbsdhbvdhjbvhdfbv
        </div>
        <div class="chat-text sender">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text sender">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text sender">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text sender">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
        <div class="chat-text">Đỗ Hữu Trung</div>
      </div>
      <div class="box-message-chat-form">
        <form action="">
          <input type="text" />
          <button><i class="fa-regular fa-paper-plane"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
