<div class="box-comment">
  <h2 class="title">Comment</h2>
  <div class="box-comment-body row">
    <div class="col-md-9">
      <!-- <table class="table table-hover table-bordered caption-top">
          <caption>
            Bảng danh sách comment từng sản phẩm
          </caption>
          <thead>
            <tr>
              <th scope="col">Stt</th>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Ảnh</th>
              <th scope="col">Số comment</th>
              <th scope="col">Ngày muộn nhất</th>
              <th scope="col">Ngày sớm nhất</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>
                <img
                  src="./images/product1.webp"
                  alt=""
                  style="width: 60px; height: 60px; object-fit: cover"
                />
              </td>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>
                <button class="btn btn-outline-primary">Chi tiết</button>
              </td>
            </tr>
          </tbody>
        </table> -->

      <table class="table caption-top">
        <caption>
          Nội dung chi tiết comment
        </caption>
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Nội dung</th>
            <th scope="col">Người comment</th>
            <th scope="col">Ngày comment</th>
            <th scope="col" style="width: 80px"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button class="btn btn-outline-danger">Xóa</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button class="btn btn-outline-danger">Xóa</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 position-relative">
      <div class="box-comment-right">
        <div class="box-comment-right-header">Danh sách nhiều comment</div>
        <div class="box-comment-right-list">
          <div class="box-comment-right-list-item">
            <img src="./images/product1.webp" alt="" />
            <div class="box-comment-right-list-item-text">
              <p>Nike forone</p>
              <span>Số comment: 12</span>
            </div>
          </div>
          <div class="box-comment-right-list-item">
            <img src="./images/product1.webp" alt="" />
            <div class="box-comment-right-list-item-text">
              <p>Nike forone</p>
              <span>Số comment: 12</span>
            </div>
          </div>
          <div class="box-comment-right-list-item">
            <img src="./images/product1.webp" alt="" />
            <div class="box-comment-right-list-item-text">
              <p>Nike forone</p>
              <span>Số comment: 12</span>
            </div>
          </div>
          <div class="box-comment-right-list-item">
            <img src="./images/product1.webp" alt="" />
            <div class="box-comment-right-list-item-text">
              <p>Nike forone</p>
              <span>Số comment: 12</span>
            </div>
          </div>
          <div class="box-comment-right-list-item">
            <img src="./images/product1.webp" alt="" />
            <div class="box-comment-right-list-item-text">
              <p>Nike forone</p>
              <span>Số comment: 12</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
